.flight-info-display {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.flight-info-display table {
   width: 100%; 
   table-layout: fixed;
   font-size: 0.6em;
   overflow: hidden;
}

.flight-info-display .id-cell {
  font-family: Arial, Helvetica, sans-serif;
  color: orange;
}

.flight-info-display .latitude-cell, .flight-info-display .longtitude-cell {
  font-family: Arial, Helvetica, sans-serif;
  color: green;
}

.flight-info-display .airlineCountry-cell {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  height: 4em;
}


.controls {
  display: flex;
  justify-content: center;
}

.control {
  background-color: white;
  border: 0;
  margin: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.flight-info-display th {
  color: black;
  font-family: Roboto;
  text-align: left;
}


@media (max-width: 350px) {
  .flight-info-display table {
    font-size: 0.4em;
  }

  .flight-info-display .id {
    width: 5em;
  }
  
  .flight-info-display .latitude {
    width: 5em;
  }
  
  .flight-info-display .longtitude {
    width: 6em;
  }

  .flight-info-display .airlineCountry {
    width: 7em;
  }
}