
.range-filter {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: gray;
  margin-bottom: 3rem;
}

.range-filter .labelled-slider {
  display: flex;
  justify-content: center;
}

.range-filter .slider {
  width: 70%;
  height: 20px;
  border: 1px solid gainsboro;
  flex-shrink: 0;
  flex-grow: 0;
}

.range-filter .handle {
  font-size: 0.9em;
  text-align: center;
  background-color: gainsboro;
  color: white;
  cursor: pointer;
  width: 20px;
  height: 100%;
  border-radius: 5px;
}

.range-filter .bar {
  position: relative;
  background: #ddd;
}

 .range-filter .label {
  padding-left: 0.5em;
  padding-right: 0.5em;
} 

.range-filter .name {
   font-weight: bold; 
   margin-bottom: 1rem;
}

@media (min-width: 1000px) {
  .range-filter {
    margin-bottom: 5rem;
  }
}