.app {
  height: 100%;
  display: flex; 
  flex-direction: column;
  max-width: 2000px;
}

.app .app-content {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 1000px) {
  .app {
    margin-right: auto;
    margin-left: auto;
    width: 98%;
  }

  .app .app-content {
    width: 100%;
  }
}