.dash .content {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.dash {
  margin-bottom: 2rem;
  width: 100%;
  overflow: hidden;
}

.dash .top-bar {
  background-color: #F7F7F7;
  padding: 0.5em;
}

.dash .fa {
  padding-left:0.2em;
  padding-right:0.5em;
}

@media (min-width: 1000px) {
  .sidebar-dash {
    width: 400px;
  }
}